
body, html {
height:100%;
margin:0px; /*Ёто хороша€ практика обнул€ть пол€ и отсупы, т.к. различные браузеры их по разному воспринимают. */
padding:0px;
text-align:center; /*¬ыравниваем макет по центру в старых верси€х браузеров */
z-index:4;
}
#container{
margin:0 auto;  /*выравниваем макет по центру в современных браузерах */
text-align:left;  /*ќтмен€ем tex-align:center заданное в Body. ƒелаем чтобы весь текст в макете выравнивалс€ по левому краю */
width:1024px; /* ширина нашего макета*/
height:100%;
border: 1px solid green;
z-index:4;
}
/*«десь пишем стили дл€ шапки сайта */
#header{
background-color:#63b9da;
}
#header h1 {
	margin: 0; /* ќбнул€ем отсупы дл€ заголовка первого уровн€, наход€щегос€ в шапке. Ёто нужно об€зательно делать, при использовании заголовков. ≈сли используютс€ параграфы, то тоже нужно обнулить отсупы дл€ них. */
	padding: 10px 0; /* «адаем пол€ */
}
/*«десь пишем стили дл€ левой колонки сайта */
#left{
background-color:#a9d28c;
width:0px;  /*ширина колонки */
float:left;  /*об€зательное выравнивание по левому краю,с включением обтекани€*/
height:90%;
}
/*«десь пишем стили дл€ правой колонки сайта */
#right{
width:250px; /*ширина правой колонки */
background-color:#a9d28c;
position:relative;
float:right; /*обаз€тельное выравнивание колонки по правому краю с включением обтекани€ */
height:90%;
}
/*«десь пишем стили дл€ блока контента */
#content{
background-color:#d5d7b5;
margin:0px; /*обнул€ем отступы сверху и снизу*/
margin-left:2px; /*об€зательный отступ слева, должен быть немного больше ширины левой колонки */
margin-right:252px; /*ќб€зательный отступ справа, должен быть немного больше ширины правой колонки */
height:90%;
z-index:4;
}
#content h1 {
margin:0px; /* ќбнул€ем отсупы дл€ заголовка первого уровн€, наход€щегос€ в блоке контента.*/
} 
#content p {
margin:0px; /* ќбнул€ем отсупы дл€ параграфов €, наход€щегос€ в блоке контента.*/
padding:5px; /*задаем пол€, т.е. чтобы был промежуток между строками, чтобы было пон€тно, что это параграф :)*/
}
/*атрибут, который опускает подвал сайта ниже всех блоков. Ќужен дл€ корректной работы макета. */
#clear{
height:0;
font-size:1px;
line-height:0px;
clear:both;
}
/*«десь пишем стили дл€ подвала сайта */
#footer{
background-color:#d292bc;
}
#footer p{
margin:0px;  /* обнул€ем отступы*/
padding: 10px 0; /*  задаем пол€ */
}
